@use "sass:color";
@import "../../node_modules/bootstrap/scss/functions";

// Overwriting Bootstrap standards
$primary: #3bb9ca;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "btn-back";

$custom-btn-variants: (
    semivisible,
    tertiary,
);

$semivisible-hover-light: rgba(black, 0.074);
$semivisible-active-light: rgba(black, 0.16);
$tertiary-hover-light: rgba(black, 0.148);
$tertiary-active-light: rgba(black, 0.2);

$semivisible-hover-dark: rgba(white, 0.08);
$semivisible-active-dark: rgba(white, 0.15);
$tertiary-hover-dark: rgba(white, 0.11);
$tertiary-active-dark: rgba(white, 0.16);

body {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    padding-top: 70px;
    font-weight: 500;

    --btn-color: #212529;
    --btn-semivisible-hover: #{$semivisible-hover-light};
    --btn-semivisible-active: #{$semivisible-active-light};
    --btn-tertiary-hover: #{$tertiary-hover-light};
    --btn-tertiary-active: #{$tertiary-active-light};

    &[data-bs-theme="dark"] {
        --btn-color: #dee2e6;
        --btn-semivisible-hover: #{$semivisible-hover-dark};
        --btn-semivisible-active: #{$semivisible-active-dark};
        --btn-tertiary-hover: #{$tertiary-hover-dark};
        --btn-tertiary-active: #{$tertiary-active-dark};
    }
}


.w-fit-content {
    width: fit-content;
}

.d-contents {
    display: contents;
}

@each $variant in $custom-btn-variants {
    .btn-#{$variant} {
        @include button-variant(white, $primary);
        border: none;
        background-color: transparent;
        color: var(--btn-color) !important;
    
        &:hover {
            background-color: var(--btn-#{$variant}-hover) !important;
        }
    
        &:active {
            background-color: var(--btn-#{$variant}-active) !important;
        }

        &.show {
            background-color: transparent;
        }

        &:focus {
            background-color: transparent;
        }
    
        &:focus-visible {
            background-color: var(--btn-#{$variant}-hover);
        }
    }
}

.btn-primary {
    color: white !important;
}

.btn-check:checked + .btn-outline-primary {
    color: white !important;
}

@each $name, $color in $colors {
    .line-through-#{$name} {
        position: relative;
        display: inline-block;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: calc(50% - 0.15em);
            height: 0.25em;
            border-radius: 1rem;
            pointer-events: none;
            background-color: $color;
        }
    }
    .text-#{$name} {
        color: $color;
    }
}

#animations {
    min-height: min-content;
}
