# Prometheus: 9090
# Loki: 3100
# Grafana: 3001
# TaskMinder-app: 3000
# redis: redis_port.txt
# postgres: 5432
services:
  app:
    build: .
    container_name: taskminder-app
    restart: always
    expose:
      - "9100"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=PRODUCTION
      - REDIS_HOST=redis
    secrets:
      - db_user
      - db_password
      - db_name
      - db_host
      - redis_port
      - session_secret
      - unsafe_deactivate_csp
      - database_url
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./db-backups:/backups
      - clamav-data:/var/lib/clamav
      - app-data:/usr/src/app/data

  postgres:
    image: postgres:14
    container_name: taskminder-postgres
    restart: always
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U $$(cat /run/secrets/db_user) -d $$(cat /run/secrets/db_name)",
        ]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    secrets:
      - db_user
      - db_password
      - db_name
    environment:
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_DB_FILE: /run/secrets/db_name
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:8
    container_name: taskminder-redis
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
    volumes:
      - redis-data:/data

  prometheus:
    image: prom/prometheus:v3.7.3
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--web.enable-lifecycle"
    depends_on:
      - app

  loki:
    image: grafana/loki:3.5.8
    container_name: loki
    restart: always
    ports:
      - "3100:3100"
    volumes:
      - ./monitoring/loki-config.yml:/etc/loki/local-config.yaml
      - loki-data:/loki
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:3.5.8
    container_name: promtail
    restart: always
    volumes:
      - ./monitoring/promtail-config.yml:/etc/promtail/config.yml
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - promtail-positions:/tmp
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:12.2.1
    container_name: grafana
    restart: always
    ports:
      - "3001:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana-provisioning/:/etc/grafana/provisioning/
      - ./monitoring/grafana-dashboards:/etc/grafana/provisioning/dashboards
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    depends_on:
      - prometheus
      - loki

secrets:
  db_user:
    file: ./docker_secrets/db_user.txt
  db_password:
    file: ./docker_secrets/db_password.txt
  db_name:
    file: ./docker_secrets/db_name.txt
  db_host:
    file: ./docker_secrets/db_host.txt
  redis_port:
    file: ./docker_secrets/redis_port.txt
  session_secret:
    file: ./docker_secrets/session_secret.txt
  unsafe_deactivate_csp:
    file: ./docker_secrets/unsafe_deactivate_csp.txt
  database_url:
    file: ./docker_secrets/database_url.txt

volumes:
  postgres-data:
  redis-data:
  prometheus-data:
  loki-data:
  promtail-positions:
  grafana-data:
  app-data:
  clamav-data:
