# This is the NGINX configuration for the server. It runs outside the Docker container and must be managed separately.
    # Listen for HTTP (80)
    server {
        listen 80;
        server_name codylon.de; # <-- CHANGE codylon.de TO SERVER DOMAIN
        return 301 https://$host$request_uri;
    }
    # Listen for HTTPS (443)
    server {
        listen 443 ssl http2 default_server;
        server_name codylon.de; # <-- CHANGE codylon.de TO SERVER DOMAIN
        ssl_certificate /etc/letsencrypt/live/codylon.de/fullchain.pem; # <-- CHANGE codylon.de TO SERVER DOMAIN
        ssl_certificate_key /etc/letsencrypt/live/codylon.de/privkey.pem; # <-- CHANGE codylon.de TO SERVER DOMAIN
        server_tokens off;
        limit_req zone=rate_limit burst=20 nodelay; # 20 additional (30 in total) requests per second, but more requests are returning 503

        location / {
            proxy_pass http://localhost:3000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # WebSocket support
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_read_timeout 86400; # Timeout for WebSocket connections
            proxy_hide_header X-Powered-By;
            proxy_hide_header Server;
        }
    }