# This is the NGINX configuration for the server. It runs outside the Docker container and must be managed separately.
#
# REPLACE codylon.de/www.codylon.de with your actual domain
#
# Redirect HTTP to HTTPS for main domain
server {
  listen 80;
  server_name codylon.de;
  return 301 https://$host$request_uri;
}

server {
  listen 80;
  server_name www.codylon.de; # <-- CHANGE codylon.de TO SERVER DOMAIN
  return 301 https://codylon.de$request_uri;
}

# Redirect HTTP to HTTPS for monitoring subdomain
server {
  listen 80;
  server_name monitoring.codylon.de;
  return 301 https://$host$request_uri;
}

# Main site (https://codylon.de)
server {
  listen 443 ssl http2;
  server_name codylon.de;

  ssl_certificate /etc/letsencrypt/live/codylon.de/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/codylon.de/privkey.pem;
  server_tokens off;

  location / {
    proxy_pass http://localhost:3000;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_read_timeout 86400;
  }
}

# Monitoring (https://monitoring.codylon.de)
server {
  listen 443 ssl http2;
  server_name monitoring.codylon.de;

  ssl_certificate /etc/letsencrypt/live/monitoring.codylon.de/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/monitoring.codylon.de/privkey.pem;
  server_tokens off;

  location / {
    proxy_pass http://localhost:3001;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_read_timeout 86400;
  }
}
