@use "sass:color";
@use "../../global/global" as *;

.days-overview-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  width: 2rem;
  font-weight: 500;
  border: .1875rem solid transparent !important;
  background-color: transparent;
  color: var(--bs-body-color);

  &:focus-visible {
    outline: none;
    border: 1px solid rgb(157, 220, 228.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(59, 185, 202, 0.25);
  }

  & > .weekday {
    font-size: 0.75rem;
  }

  & > .date {
    z-index: 1;
  }

  &.days-overview-today span {
    color: var(--bs-danger) !important;
  }

  &::before {
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    background: var(--bs-primary);
    position: absolute;
    border-radius: 100%;
    bottom: .25rem;
    transition: 0.2s ease opacity;
    visibility: hidden;
    opacity: 0;
  }
  
  &.days-overview-today::before {
    background: var(--bs-danger);
  }

  &.days-overview-selected::before {
    visibility: visible;
    opacity: 0.3;
  }
  &.days-overview-selected:not(.days-overview-selected-no-animation)::before {
    animation: 0.3s 1 select-day;
  }
  &:not(.days-overview-selected):hover::before {
    visibility: visible;
    opacity: 0.2;
  }

  @keyframes select-day {
    0% {
      height: 1.8rem;
      width: 1.8rem;
    }

    50% {
      height: 1.4rem;
      width: 1.4rem;
      margin-bottom: 0.2rem;
    }
  
    100% {
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  &.days-overview-other-month span {
    transform: skewX(-10deg);
  }

  &.text-body-tertiary:not(.days-overview-today):not(.days-overview-other-month) span {
    opacity: 100%;
  }

  & .events {
    position: absolute;
    pointer-events: none;
    &.week {
      top: 3.5rem;
    }
    &.month {
      top: 2.5rem;
    }

    & .single-events {
      width: 2rem;
      justify-content: center;
      margin: 0;

      & .col {
        padding: 0 0 0.1rem 0;
        display: flex;
        justify-content: center;

        & .event {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 0.25rem;
        }
      }
    }

    & .multi-events {
      width: 2rem;
      justify-content: center;

      & .event {
        height: 0.5rem;
        margin-bottom: 0.1rem;

        &.event-start {
          width: 2.14rem;
          margin-left: -0.02rem;
          border-radius: 0.25rem 0 0 0.25rem;
        }

        &.event-middle {
          width: 2.24rem;
          margin-left: -0.12rem;
          border-radius: 0rem;
        }

        &.event-end {
          width: 2.14rem;
          margin-left: -0.12rem;
          border-radius: 0 0.25rem 0.25rem 0;
        }

        &.event-single {
          width: 2rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

[data-high-contrast="true"] {
  .days-overview-day {
    &::before {
      opacity: 1 !important;
      transition: none;
    }
  }
  .days-overview-selected, .days-overview-day:hover {
    & .date {
      color: var(--bs-body-bg) !important;
    }
  }
}

.calendar-special-button {
  width: 4rem;
}

.weekdays div {
  display: flex;
  justify-content: center;
  margin: 0 0.1rem;
  padding: 0.4rem 0.5rem;
  width: 2rem;
  font-size: 0.75rem;
}

.card {
  flex-grow: 1;
  flex-basis: 0;

  &.wide {
    flex-grow: 2;
  }
}

#calendar-week-wrapper {
  overflow: hidden;
  display: grid;
  padding: 0.25rem 0.125rem 2rem 0.125rem;
}

.calendar-week {
  grid-area: 1 / 1 / 1 / 1;
}

.calendar-week-move-button {
  transform: translateY(-1rem);
}

#filter-homework-mode {
  padding: 0.2rem 2rem 0.2rem 0.5rem;
}
