@use "../../../../node_modules/bootstrap/scss/bootstrap" as *;
@use "../../vendor/fontawesome/scss/fontawesome" as *;

$fa-font-path: "/assets/fonts/fontawesome";

.color-picker-trigger {
  width: 2rem;
  height: 2rem;
  position: relative;
  border: none;
  background-color: rgb(var(--selected-color));

  &:disabled {
    opacity: 0.65;
    pointer-events: none;
    user-select: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 .25rem rgba(var(--selected-color), .25);
  }
}

.color-picker-popup {
  position: absolute;
  padding: 0.5rem;
  cursor: auto;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  z-index: 1100;
  box-shadow: var(--bs-box-shadow);
}

.color-picker-hsv-wrapper {
  margin: 0 0.25rem 0.5rem 0.25rem;
  display: flex;
  width: 10.75rem;
  height: 6rem;
}

.color-picker-saturation-value {
  background:
    linear-gradient(transparent 0%, black 100%),
    linear-gradient(90deg, white 0%, transparent 100%),
    linear-gradient(red 0%, red 100%);
  margin-right: 0.5rem;
  width: 8.5rem;
  position: relative;
  border-radius: var(--bs-border-radius);
}

.color-picker-marker-saturation-value {
  position: absolute;
  left: 1rem;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  margin: -0.3125rem 0 0 -0.3125rem;
  border-radius: 50%;
  border: 0.0625rem solid white;
  box-shadow: 0 0 0 0.0625rem black;
  pointer-events: none;
  background-color: transparent;
}

.color-picker-hue {
  background: linear-gradient(
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
  width: 1.75rem;
  position: relative;
  border-radius: var(--bs-border-radius);
}

.color-picker-marker-hue {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.33rem;
  margin-top: -0.16rem;
  border: 0.0625rem solid white;
  border-radius: var(--bs-border-radius);
  box-shadow: 0 0 0 0.0625rem black;
  pointer-events: none;
  background-color: transparent;
}

.color-picker-hex-wrapper {
  margin: 0 0.25rem 0.5rem 0.25rem;
  width: 10.75rem;
}

.color-picker-suggestions {
  width: 11.25rem;
}

.color-picker-option {
  cursor: pointer;
  margin: .25rem;
  width: 1.75rem !important;
  height: 1.75rem;
  display: flex !important;
  border: none;
  border-radius: var(--bs-border-radius);
  justify-content: center;

  &:not(.color-picker-auto-option).selected {
    color: #fff;
    --fa: "\f00c";

    &::before {
      align-self: center;
    }
  }
}

$color-picker-colors: (
  #ffee33,
  #ff9955,
  #ff4433,
  #ff55aa,
  #9955ff,
  #5599ff,
  #44ddee,
  #44dd33,
  #449933,
  #888888
);

@each $color in $color-picker-colors {
  .color-picker-option[data-color="#{$color}"] {
    background: #{$color};
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 .25rem rgba($color, .25);
    }
  }
}

.color-picker-auto-option-wrapper {
  justify-content: center;

  & .color-picker-auto-option {
    width: 6.25rem !important;
    font-size: 0.9rem;
    line-height: 1.75rem;

    &.selected {
      font-weight: 900;
    }
  }
}

.color-picker-save {
  margin: .25rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex !important;
  justify-content: center;
}

input[type="text"].color-picker {
  display: none;
}
