.card.event-blue {
    border-color: rgb(var(--event-blue));
    background-color: rgba(var(--event-blue), 0.4);
}

.card.event-orange {
    border-color: rgb(var(--event-orange));
    background-color: rgba(var(--event-orange), 0.4);
}

span.event-blue {
    color: rgb(var(--event-blue));
}

span.event-orange {
    color: rgb(var(--event-orange));
}

.days-overview-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.days-overview-day-selected {
    color: #dc3545;
}

.days-overview-day > div:first-child {
    font-size: 0.75rem;
}

.days-overview-day > div:nth-child(3) {
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 50%;
}

.days-overview-day > .event-blue {
    background-color: rgb(var(--event-blue));
}

.days-overview-day > .event-orange {
    background-color: rgb(var(--event-orange));
}

.event-list {
    list-style: none;
    padding-left: 0;
}

.event-list li {
    position: relative;
}

.event-list li::before {
    content: '';
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
}

.event-list li.event-blue::before {
    background-color: rgb(var(--event-blue));
}

.event-list li.event-orange::before {
    background-color: rgb(var(--event-orange));
}

.card {
    flex-grow: 1;
    flex-basis: 0;
}

.wide {
    flex-grow: 2;
}
