<nav class="navbar bg-body-tertiary fixed-top">
	<div class="container-fluid">
		<div class="dropdown me-auto me-sm-0">
			<button class="btn btn-tertiary d-sm-none" data-bs-toggle="dropdown">
				<i class="fas fa-bars"></i>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/homework">
					Hausaufgaben
				</a>
				<a class="dropdown-item" href="/events">
					Ereignisse
				</a>
				<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#settings-modal">
					Einstellungen
				</button>
			</div>
		</div>

		<!--<a class="navbar-text fs-5 me-md-4 ms-md-0 mx-auto text-decoration-none" href="/">TaskMinder</a>-->
		<a class="d-sm-none navbar-text fs-5 text-decoration-none position-absolute start-50 translate-middle-x" href="/">TaskMinder</a>
		<a class="d-none d-sm-block navbar-text fs-5 text-decoration-none ms-0 me-4" href="/">
			TaskMinder
		</a>

		<ul class="navbar-nav d-none d-sm-flex flex-row me-auto">
			<li class="nav-item me-3">
				<a class="nav-link" href="/homework">Hausaufgaben</a>
			</li>
			<li class="nav-item me-3">
				<a class="nav-link" href="/events">Ereignisse</a>
			</li>
			<li class="nav-item me-3">
				<button class="nav-link" data-bs-toggle="modal" data-bs-target="#settings-modal">Einstellungen</button>
			</li>
		</ul>

		<div class="dropdown">
			<button class="btn btn-tertiary" data-bs-toggle="dropdown" id="user-dropdown">
				<i class="fas fa-user"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-end" id="dropdown-menu">
				<button class="dropdown-item" id="login-register-button" data-bs-toggle="modal" data-bs-target="#login-register-modal">
					Einloggen oder Registrieren
				</button>
				<button class="dropdown-item d-none" id="logout-button">
					Logout
				</button>
			</div>
		</div>

		<button class="btn btn-tertiary" id="navbar-reload-button">
			<i class="fas fa-rotate"></i>
		</button>
	</div>
</nav>

<div class="modal fade" id="settings-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Einstellungen</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<a class="text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#team-selection-modal">Teams auswählen</a>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<label class="me-3" for="animations">Animationen</label>
					<div class="form-check form-switch fs-5 mb-0" id="animations">
						<input class="form-check-input mt-0" type="checkbox" id="flexSwitchCheckDefault">
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<label class="me-3" for="color-theme">Farbthema</label>
					<div class="btn-group" id="color-theme">
						<input type="radio" class="btn-check" name="color-theme" id="color-theme-auto" checked>
						<label class="btn btn-sm btn-outline-primary fw-semibold" for="color-theme-auto">Automatisch</label>

						<input type="radio" class="btn-check" name="color-theme" id="color-theme-light" checked>
						<label class="btn btn-sm btn-outline-primary fw-semibold" for="color-theme-light">Hell</label>

						<input type="radio" class="btn-check" name="color-theme" id="color-theme-dark">
						<label class="btn btn-sm btn-outline-primary fw-semibold" for="color-theme-dark">Dunkel</label>
					</div>
				</div>
				<div>
					<a class="text-decoration-none" href="#" data-bs-toggle="collapse" data-bs-target="#credits">
						Credits anzeigen
					</a>
					
					<div class="collapse mt-2" id="credits">
						<h5 class="w-semibold">Credits</h5>
						<ul class="list-unstyled mb-2">
							<li>Mingqi Li</li>
							<li>Fabian Leonardi</li>
						</ul>
						<p class="mb-1">
							<i class="fas fa-balance-scale me-2"></i>
							Dieses Projekt steht unter der 
							<a href="https://opensource.org/licenses/MIT" target="_blank" class="text-primary">MIT-Lizenz</a>.
						</p>
						<p class="mb-1">
							<i class="far fa-copyright me-2"></i>
							Copyright © 2025 Codylon-Studios
						</p>
						<p class="mb-0">
							<i class="fab fa-github me-2"></i>
							GitHub: 
							<a href="https://github.com/Codylon-Studios/TaskMinder" target="_blank" class="text-primary">Codylon-Studios/TaskMinder</a>
						</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fertig</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="login-register-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="login-register-title">Einloggen oder Registrieren</h1>
				<h1 class="modal-title fs-5 d-none" id="login-title">Willkommen zurück!</h1>
				<h1 class="modal-title fs-5 d-none" id="register-title">Registriere dich!</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="login-register-content">
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="login-register-error-invalid-username">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Dieser Nutzername ist nicht möglich. Bitte benutze 4 bis 20 Buchstaben, Zahlen oder Unterstriche.
						</span>
					</div>
					<label for="login-register-username" class="form-label">
						Gib deinen Benutzernamen ein
					</label>
					<input type="text" class="form-control" id="login-register-username">
					<div class="form-text">Gib zum Registrieren deinen Wunschnamen ein</div>
				</div>
				<div id="login-content" class="d-none">
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="login-error-invalid-password">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Das Passwort ist falsch!
						</span>
					</div>
					<label for="login-password" class="form-label">
						Gib dein Passwort ein
					</label>
					<input type="password" class="form-control" id="login-password">
				</div>
				<div id="register-content" class="d-none">
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="register-error-no-matching-passwords">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Die Passwörter stimmen nicht überein!
						</span>
					</div>
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="register-error-invalid-classcode">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Der Klassencode stimmt nicht!
						</span>
					</div>
					<div class="alert alert-warning p-2 d-none align-items-center gap-2" id="register-error-insecure-password">
						<i class="fa-solid fa-triangle-exclamation mx-1"></i>
						<span class="d-block">
							Das Passwort ist nicht sehr sicher!
						</span>
					</div>
					<div class="mb-3">
						<label for="register-classcode" class="form-label">
							Gib den Klassencode ein
						</label>
						<input type="text" class="form-control" id="register-classcode">
						<div class="form-text">Frag uns einfach, wenn du ihn vergessen hast</div>
					</div>
					<div class="mb-3">
						<label for="register-password" class="form-label">
							Gib dein Passwort ein
						</label>
						<input type="password" class="form-control" id="register-password">
						<div class="form-text">Denk daran, ein sicheres Passwort zu nehmen</div>
					</div>
					<input type="password" class="form-control" id="register-password-repeat">
					<div class="form-text">Gib es noch mal ein</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary d-none" id="login-register-back-button">Zurück</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-primary disabled" id="login-register-next-button">Weiter</button>
				<button type="button" class="btn btn-primary d-none" id="login-button">Einloggen</button>
				<button type="button" class="btn btn-primary d-none" id="register-button">Registrieren</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="team-selection-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Teams auswählen</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label for="login-password" class="form-label">
					Wähle deine Teams aus
				</label>
				<div class="ms-3" id="team-list">
					<!--Gets filled-->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-primary" id="team-selection-save">Speichern</button>
			</div>
		</div>
	</div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
	<div id="error-server-toast" class="toast">
		<div class="toast-header bg-danger text-white">
		<b class="me-auto">Serverproblem</b>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
		</div>
		<div class="toast-body">
			Unser Server hat gerade Probleme. Bitte versuche es später erneut.
		</div>
	</div>
	<div id="unknown-error-toast" class="toast">
		<div class="toast-header bg-danger text-white">
		<b class="me-auto">Unerwarteter Fehler</b>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
		</div>
		<div class="toast-body">
			Ein unbekannter Fehler ist aufgetreten.
		</div>
	</div>
	<div id="not-logged-in-toast" class="toast">
		<div class="toast-header bg-danger text-white">
		<b class="me-auto">Nicht angemeldet</b>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
		</div>
		<div class="toast-body">
			Du musst dafür angemeldet sein.
		</div>
	</div>
  <div id="login-success-toast" class="toast">
    <div class="toast-header bg-success text-white">
      <b class="me-auto">Erfolgreich eingeloggt</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Willkommen zurück <b class="username">User</b>!
    </div>
  </div>
  <div id="register-success-toast" class="toast">
    <div class="toast-header bg-success text-white">
      <b class="me-auto">Erfolgreich registriert</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Willkommen <b class="username">User</b>!
    </div>
  </div>
  <div id="logout-success-toast" class="toast">
    <div class="toast-header bg-success text-white">
      <b class="me-auto">Erfolgreich ausgeloggt</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Auf Wiedersehen!
    </div>
  </div>
</div>
