<nav class="navbar bg-body-tertiary fixed-top">
	<div class="container-fluid">
		<div class="dropdown">
			<button class="btn btn-tertiary d-md-none" data-bs-toggle="dropdown">
				<i class="fas fa-bars"></i>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/allhomework">
					Alle Hausaufgaben
				</a>
				<button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#settings-modal">
					Einstellungen
				</button>
			</div>
		</div>

		<a class="navbar-text fs-5 me-md-4 ms-md-0 mx-auto text-decoration-none" href="/">Hausaufgabenplaner</a>

		<ul class="navbar-nav d-none d-md-flex flex-row me-auto">
			<li class="nav-item me-3">
				<a class="nav-link" href="/allhomework">Alle Hausaufgaben</a>
			</li>
			<li class="nav-item me-3">
				<button class="nav-link" data-bs-toggle="modal" data-bs-target="#settings-modal">Einstellungen</button>
			</li>
		</ul>

		<div class="dropdown">
			<button class="btn btn-tertiary" data-bs-toggle="dropdown" id="user-dropdown">
				<i class="fas fa-user"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-end" id="dropdown-menu">
				<button class="dropdown-item" id="login-register-button" data-bs-toggle="modal" data-bs-target="#login-register-modal">
					Einloggen oder Registrieren
				</button>
				<button class="dropdown-item d-none" id="logout-button">
					Logout
				</button>
			</div>
		</div>

		<button class="btn btn-tertiary" id="navbar-reload-button">
			<i class="fas fa-rotate"></i>
		</button>
	</div>
</nav>

<div class="modal fade" id="settings-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Einstellungen</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label class="mb-2 me-3 text-nowrap fw-semibold" for="color-theme">Farbthema</label>
					<div class="btn-group" id="color-theme">
						<input type="radio" class="btn-check" name="color-theme" id="color-theme-light" checked>
						<label class="btn btn-sm btn-outline-primary fw-semibold" for="color-theme-light">Hell</label>

						<input type="radio" class="btn-check" name="color-theme" id="color-theme-dark">
						<label class="btn btn-sm btn-outline-primary fw-semibold" for="color-theme-dark">Dunkel</label>
					</div>
				</div>
				<div class="mt-2">
					<label class="mb-1 me-3 text-nowrap fw-semibold" for="credits">Credits</label>
					<ul class="list-unstyled">
						<li>Mingqi Li</li>
						<li>Fabian Leonardi</li>
					</ul>

					<p class="mt-3">
						<i class="fas fa-balance-scale me-2"></i>Dieses Projekt steht unter der <a href="https://opensource.org/licenses/MIT" target="_blank" class="text-decoration-none">MIT-Lizenz</a>.
					</p>
					<p>
						<i class="far fa-copyright me-2"></i>Copyright (c) 2022-2025 Codylon-Studios
					</p>
					<p>
						<i class="fab fa-github me-2"></i>GitHub: <a href="https://github.com/Codylon-Studios/zippedaeus" target="_blank" class="text-decoration-none">Codylon-Studios/zippedaeus</a>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fertig</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="login-register-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="login-register-title">Einloggen oder Registrieren</h1>
				<h1 class="modal-title fs-5 d-none" id="login-title">Willkommen zurück!</h1>
				<h1 class="modal-title fs-5 d-none" id="register-title">Registriere dich!</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="login-register-content">
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="login-register-error-invalid-username">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Dieser Nutzername ist nicht möglich. Bitte benutze 4 bis 20 Buchstaben, Zahlen oder Unterstriche.
						</span>
					</div>
					<label for="login-register-username" class="form-label">
						Gib deinen Benutzernamen ein
					</label>
					<input type="text" class="form-control" id="login-register-username">
					<div class="form-text">Gib zum Registrieren deinen Wunschnamen ein</div>
				</div>
				<div id="login-content" class="d-none">
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="login-error-invalid-password">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Das Passwort ist falsch!
						</span>
					</div>
					<label for="login-password" class="form-label">
						Gib dein Passwort ein
					</label>
					<input type="password" class="form-control" id="login-password">
				</div>
				<div id="register-content" class="d-none">
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="register-error-no-matching-passwords">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Die Passwörter stimmen nicht überein!
						</span>
					</div>
					<div class="alert alert-danger p-2 d-none align-items-center gap-2" id="register-error-invalid-classcode">
						<i class="fa-solid fa-circle-exclamation mx-1"></i>
						<span class="d-block">
							Der Klassencode stimmt nicht!
						</span>
					</div>
					<div class="alert alert-warning p-2 d-none align-items-center gap-2" id="register-error-insecure-password">
						<i class="fa-solid fa-triangle-exclamation mx-1"></i>
						<span class="d-block">
							Das Passwort ist nicht sehr sicher!
						</span>
					</div>
					<div class="mb-3">
						<label for="register-classcode" class="form-label">
							Gib den Klassencode ein
						</label>
						<input type="text" class="form-control" id="register-classcode">
						<div class="form-text">Frag uns einfach, wenn du ihn vergessen hast</div>
					</div>
					<div class="mb-3">
						<label for="register-password" class="form-label">
							Gib dein Passwort ein
						</label>
						<input type="password" class="form-control" id="register-password">
						<div class="form-text">Denk daran, ein sicheres Passwort zu nehmen</div>
					</div>
					<input type="password" class="form-control" id="register-password-repeat">
					<div class="form-text">Gib es noch mal ein</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary d-none" id="login-register-back-button">Zurück</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
				<button type="button" class="btn btn-primary disabled" id="login-register-next-button">Weiter</button>
				<button type="button" class="btn btn-primary d-none" id="login-button">Einloggen</button>
				<button type="button" class="btn btn-primary d-none" id="register-button">Registrieren</button>
			</div>
		</div>
	</div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="error-server-toast" class="toast">
    <div class="toast-header bg-danger text-white">
      <b class="me-auto">Serverproblem</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Unser Server hat gerade Probleme. Bitte versuche es später erneut.
    </div>
  </div>
  <div id="login-success-toast" class="toast">
    <div class="toast-header bg-success text-white">
      <b class="me-auto">Erfolgreich eingeloggt</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Willkommen zurück <b class="username">User</b>!
    </div>
  </div>
  <div id="register-success-toast" class="toast">
    <div class="toast-header bg-success text-white">
      <b class="me-auto">Erfolgreich registriert</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Willkommen <b class="username">User</b>!
    </div>
  </div>
  <div id="logout-success-toast" class="toast">
    <div class="toast-header bg-success text-white">
      <b class="me-auto">Erfolgreich ausgeloggt</b>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
    <div class="toast-body">
      Auf Wiedersehen!
    </div>
  </div>
</div>
