@use "svgs";
@use "../../../node_modules/bootstrap/scss/bootstrap" as *;

$btn-back-width: 1em !default;
$btn-back-height: $btn-back-width !default;
$btn-back-padding-x: 0.25em !default;
$btn-back-padding-y: $btn-back-padding-x !default;
$btn-back-color: $black !default;
$btn-back-bg: svgs.$btn-back !default;
$btn-back-focus-shadow: $focus-ring-box-shadow !default;
$btn-back-opacity: 0.5 !default;
$btn-back-hover-opacity: 0.75 !default;
$btn-back-focus-opacity: 1 !default;
$btn-back-disabled-opacity: 0.25 !default;
$btn-back-filter: null !default;
$btn-back-white-filter: invert(1) grayscale(100%) brightness(200%) !default; // Deprecated in v5.3.4
$btn-back-filter-dark: $btn-back-white-filter !default;

.btn-back {
  // scss-docs-start back-css-vars
  --#{$prefix}btn-back-color: #{$btn-back-color};
  --#{$prefix}btn-back-bg: #{escape-svg($btn-back-bg)};
  --#{$prefix}btn-back-opacity: #{$btn-back-opacity};
  --#{$prefix}btn-back-hover-opacity: #{$btn-back-hover-opacity};
  --#{$prefix}btn-back-focus-shadow: #{$btn-back-focus-shadow};
  --#{$prefix}btn-back-focus-opacity: #{$btn-back-focus-opacity};
  --#{$prefix}btn-back-disabled-opacity: #{$btn-back-disabled-opacity};
  // scss-docs-end back-css-vars

  box-sizing: content-box;
  width: $btn-back-width;
  height: $btn-back-height;
  padding: $btn-back-padding-y $btn-back-padding-x;
  color: var(--#{$prefix}btn-back-color);
  background: transparent var(--#{$prefix}btn-back-bg) center / $btn-back-width
    auto no-repeat; // include transparent for button elements
  filter: var(--#{$prefix}btn-back-filter);
  border: 0; // for button elements
  @include border-radius();
  opacity: var(--#{$prefix}btn-back-opacity);

  // Override <a>'s hover style
  &:hover {
    color: var(--#{$prefix}btn-back-color);
    text-decoration: none;
    opacity: var(--#{$prefix}btn-back-hover-opacity);
  }

  &:focus {
    outline: 0;
    box-shadow: var(--#{$prefix}btn-back-focus-shadow);
    opacity: var(--#{$prefix}btn-back-focus-opacity);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: var(--#{$prefix}btn-back-disabled-opacity);
  }
}

@mixin btn-back-white() {
  --#{$prefix}btn-back-filter: #{$btn-back-filter-dark};
}

.btn-back-white {
  @include btn-back-white();
}

:root,
[data-bs-theme="light"] {
  --#{$prefix}btn-back-filter: #{$btn-back-filter};
}

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    @include btn-back-white();
  }
}
