@use "sass:color";

@import "../../../node_modules/bootstrap/scss/functions";

// Overwriting Bootstrap standards
$primary: #3bb9ca;
$enable-negative-margins: true;

@import "../../../node_modules/bootstrap/scss/bootstrap";

$navbar-top-offset: 70px;

$fa-font-path: "/vendor/fontawesome/fonts";
@import "../vendor/fontawesome/scss/fontawesome";
@import "../vendor/fontawesome/scss/solid";
@import "../vendor/fontawesome/scss/regular";
@import "../vendor/fontawesome/scss/brands";

@font-face {
  font-family: "Quicksand";
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@import "btn-back";

$custom-btn-variants: (semivisible, tertiary);

$semivisible-normal-light: transparent;
$semivisible-hover-light: rgba(black, 0.11);
$semivisible-active-light: rgba(black, 0.16);
$tertiary-normal-light: #eee; //#eee;//TODO
$tertiary-hover-light: #d9d9d9; // #d9d9d9;//TODO
$tertiary-active-light: #cccccc; // #cccccc;//TODO

$semivisible-normal-dark: transparent;
$semivisible-hover-dark: rgba(white, 0.1);
$semivisible-active-dark: rgba(white, 0.15);
$tertiary-normal-dark: #2b3035;
$tertiary-hover-dark: #393d41; //TODO
$tertiary-active-dark: #45484b; //TODO

body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding: $navbar-top-offset 0 $navbar-top-offset 0;
  font-weight: 500;

  --btn-color: #212529;
  --btn-semivisible-normal: #{$semivisible-normal-light};
  --btn-semivisible-hover: #{$semivisible-hover-light};
  --btn-semivisible-active: #{$semivisible-active-light};
  --btn-tertiary-normal: #{$tertiary-normal-light};
  --btn-tertiary-hover: #{$tertiary-hover-light};
  --btn-tertiary-active: #{$tertiary-active-light};

  &[data-bs-theme="dark"] {
    --btn-color: #dee2e6;
    --btn-tertiary-normal: #{$semivisible-normal-dark};
    --btn-semivisible-hover: #{$semivisible-hover-dark};
    --btn-semivisible-active: #{$semivisible-active-dark};
    --btn-tertiary-normal: #{$tertiary-normal-dark};
    --btn-tertiary-hover: #{$tertiary-hover-dark};
    --btn-tertiary-active: #{$tertiary-active-dark};
  }
}

* {
  scroll-margin-top: $navbar-top-offset;
}

.w-fit-content {
  width: fit-content;
}

.w-md-50 {
  @include media-breakpoint-up(md) {
    width: 50% !important;
  }
}

.w-lg-50 {
  @include media-breakpoint-up(lg) {
    width: 50% !important;
  }
}

.h-fit-content {
  height: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.d-contents {
  display: contents;
}

@each $variant in $custom-btn-variants {
  .btn-#{$variant} {
    @include button-variant(white, $primary);
    border: none;
    background-color: var(--btn-#{$variant}-normal);
    color: var(--btn-color) !important;

    &:hover {
      background-color: var(--btn-#{$variant}-hover) !important;
    }

    &:active {
      background-color: var(--btn-#{$variant}-active) !important;
    }

    &.active {
      background-color: var(--btn-#{$variant}-normal);
    }

    &.show {
      background-color: var(--btn-#{$variant}-normal);
    }

    &:focus {
      background-color: var(--btn-#{$variant}-normal);
    }

    &:focus-visible {
      background-color: var(--btn-#{$variant}-hover);
    }
  }
}

.btn-primary {
  color: white !important;
}

.btn-check:checked + .btn-outline-primary {
  color: white !important;
}

.btn-sm-square {
  width: 2rem;
  height: 2rem;
}

@each $name, $color in $colors {
  .line-through-#{$name} {
    text-decoration-line: line-through;
    text-decoration-color: $color;
    text-decoration-thickness: 0.25em;
  }
  .text-#{$name} {
    color: $color;
  }
}

.nav-tabs .nav-link.active {
  color: $primary;
}

.nav-tabs .nav-link {
  color: var(--bsnav-link-color);
}

.link-subtle {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;
  }
}

footer a {
  @extend .link-subtle;
}

.filter-info-circle {
  @extend .position-absolute,
    .top-0,
    .start-100,
    .translate-middle,
    .p-2,
    .bg-primary,
    .border,
    .border-light,
    .border-1,
    .rounded-circle;
}


@function get-circle-pos($id, $axis, $radius) {
  @if ($axis == x) {
    @return cos(45deg * $id) * $radius + 5px;
  }
  @else {
    @return sin(45deg * $id) * $radius + 5px;
  }
}

.homework-check-wrapper {
  width: 1rem;
  height: 1rem;
  position: relative;
  & input.homework-check {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  & div {
    visibility: visible;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $primary;
    opacity: 0;
  }
  @for $id from 0 through 7 {
    & div[data-id="#{$id}"] {
      --id: #{$id};
      animation: checkAnimation-#{$id} 0.4s ease normal;
      background-color: $primary;

      @keyframes checkAnimation-#{$id} {
        0% {
          left: get-circle-pos($id, x, 8px);
          top:  get-circle-pos($id, y, 8px);
        }
        50% {
          opacity: 1;
        }
        100% {
          left: get-circle-pos($id, x, 20px);
          top:  get-circle-pos($id, y, 20px);
          opacity: 0;
        }
      }
    }
  }
}

// Styles exclusively for iOS devices
@supports (-webkit-touch-callout: none) {
  b, strong, .fw-semibold, .fw-bold, *[style*="font-weight: 700"] {
    letter-spacing: calc(-1em / 16);
  }
}
