@use "sass:color";

@use "../../../node_modules/bootstrap/scss/bootstrap" as * with (
  $primary: #3bb9ca,
  $enable-negative-margins: true
);
$primary-high-contrast: #277b86;
$warning-high-contrast: #805f00;
$success-high-contrast: #29b674;
$danger-high-contrast: #ff6e7d;

$navbar-top-offset: 4.375rem;

@use '../vendor/fontawesome/scss/variables' with (
  $font-path: "/vendor/fontawesome/fonts",
);

@use '../vendor/fontawesome/scss/solid' as fa-solid;
@use '../vendor/fontawesome/scss/regular' as fa-regular;
@use '../vendor/fontawesome/scss/brands' as fa-brands;

@use "svgs";
@use "btn-back" as *;
@use "../snippets/snippets";

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

$custom-btn-variants: (semivisible, tertiary);

$semivisible-normal-light: transparent;
$semivisible-hover-light: rgba(black, 0.11);
$semivisible-active-light: rgba(black, 0.16);
$tertiary-normal-light: #eee; //#eee;//TODO
$tertiary-hover-light: #d9d9d9; // #d9d9d9;//TODO
$tertiary-active-light: #cccccc; // #cccccc;//TODO

$semivisible-normal-dark: transparent;
$semivisible-hover-dark: rgba(white, 0.1);
$semivisible-active-dark: rgba(white, 0.15);
$tertiary-normal-dark: #2b3035;
$tertiary-hover-dark: #393d41; //TODO
$tertiary-active-dark: #45484b; //TODO

html, body {
  overscroll-behavior-x: none;
}

body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  padding: $navbar-top-offset 0 $navbar-top-offset 0;
  font-weight: 500;

  &[data-bs-theme="light"] {
    --btn-semivisible-normal: #{$semivisible-normal-light};
    --btn-semivisible-hover: #{$semivisible-hover-light};
    --btn-semivisible-active: #{$semivisible-active-light};
    --btn-tertiary-normal: #{$tertiary-normal-light};
    --btn-tertiary-hover: #{$tertiary-hover-light};
    --btn-tertiary-active: #{$tertiary-active-light};

    & .btn-close-invert {
      filter: invert(1);
    }
  }

  &[data-bs-theme="dark"] {
    --btn-tertiary-normal: #{$semivisible-normal-dark};
    --btn-semivisible-hover: #{$semivisible-hover-dark};
    --btn-semivisible-active: #{$semivisible-active-dark};
    --btn-tertiary-normal: #{$tertiary-normal-dark};
    --btn-tertiary-hover: #{$tertiary-hover-dark};
    --btn-tertiary-active: #{$tertiary-active-dark};

    & .btn-close-invert {
      filter: invert(0);
    }
  }
}

[data-high-contrast="true"] {
  .opacity-50 {
    opacity: 1 !important;
  }
  
  .text-secondary, .text-body-tertiary {
    color: var(--bs-body-color) !important;
  }

  :disabled {
    opacity: 1;
    pointer-events: auto !important;
    cursor: not-allowed;

    &:hover {
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--bs-danger);
        $disabled-stripe-width: .25rem;
        clip-path: polygon(
          0 calc(100% - $disabled-stripe-width), 0 100%, $disabled-stripe-width 100%,
          100% $disabled-stripe-width, 100% 0, calc(100% - $disabled-stripe-width) 0, calc(100% - $disabled-stripe-width) 0
        );
        z-index: -1;
      }
    }
  }

  &[data-bs-theme="light"] {
    --bs-primary: #{$primary-high-contrast};
    --bs-primary-rgb: #{to-rgb($primary-high-contrast)};
    --bs-link-color: $primary-high-contrast;
    --bs-link-color-rgb: #{to-rgb($primary-high-contrast)};
    --bs-link-hover-color-rgb: #{to-rgb(shift-color($primary-high-contrast, 20%))};
  
    .btn-primary {
      @include button-variant($primary-high-contrast, $primary-high-contrast)
    }
  
    .btn-outline-primary {
      @include button-outline-variant($primary-high-contrast)
    }
  
    .form-check-input:checked {
      background-color: #{$primary-high-contrast};
      border-color: #{$primary-high-contrast};
    }

    --bs-warning: #{$warning-high-contrast};
    --bs-warning-rgb: #{to-rgb($warning-high-contrast)};
  }

  &[data-bs-theme="dark"] {
    .btn-outline-secondary {
      @include button-outline-variant(#a1aab3)
    }

    --bs-success: #{$success-high-contrast};
    --bs-success-rgb: #{to-rgb($success-high-contrast)};
  
    .btn-success {
      @include button-variant($success-high-contrast, $success-high-contrast)
    }
  
    .btn-outline-success {
      @include button-outline-variant($success-high-contrast)
    }

    --bs-danger: #{$danger-high-contrast};
    --bs-danger-rgb: #{to-rgb($danger-high-contrast)};
  
    .btn-danger {
      @include button-variant($danger-high-contrast, $danger-high-contrast)
    }
  
    .btn-outline-danger {
      @include button-outline-variant($danger-high-contrast)
    }
  }
}

* {
  scroll-margin-top: $navbar-top-offset;
}

.spinner-border {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-border-width: 0.125rem;
}

.w-fit-content {
  width: fit-content;
}

.w-md-50 {
  @include media-breakpoint-up(md) {
    width: 50% !important;
  }
}

.w-lg-50 {
  @include media-breakpoint-up(lg) {
    width: 50% !important;
  }
}

.h-fit-content {
  height: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.d-contents {
  display: contents;
}

.text-body-bg {
  color: var(--bs-body-bg) !important;
}

.word-wrap-break {
  word-wrap: break-word
}

@include media-breakpoint-down(sm) {
  .offcanvas.offcanvas-start {
    width: 100%;
    border-right: none;
  }
}

.toast-progress-bar {
  position: relative;
  height: 0.25rem;
  border-top-left-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
  border-top-right-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
  overflow: hidden;
  --toast-progress-duration: 5000ms;
  --toast-resume-delay: 1000ms;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(var(--bs-body-color-rgb), 0.35);
    transform: translateX(0%);
    animation: toast-progress 5s linear forwards;
    animation-play-state: paused;
  }

  &.playing::before {
    animation-play-state: running;
  }

  & ~ .toast-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@keyframes toast-progress {
  from { transform: translateX(0%); }
  to   { transform: translateX(-100%); }
}

@each $variant in $custom-btn-variants {
  .btn-#{$variant} {
    @include button-variant(white, $primary);
    border: none;
    background-color: var(--btn-#{$variant}-normal);
    color: var(--btn-color) !important;

    &:hover {
      background-color: var(--btn-#{$variant}-hover) !important;
    }

    &:active {
      background-color: var(--btn-#{$variant}-active) !important;
    }

    &.active {
      background-color: var(--btn-#{$variant}-normal);
    }

    &.show {
      background-color: var(--btn-#{$variant}-normal);
    }

    &:focus {
      background-color: var(--btn-#{$variant}-normal);
    }

    &:focus-visible {
      background-color: var(--btn-#{$variant}-hover);
    }
  }
}

.autocomplete-feedback {
  display: none;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-primary);
}

.form-control, .form-select, .rich-textarea-input {
  &.autocomplete {
    border-color: $input-focus-border-color !important;
    background-color: color.change($color: $primary, $alpha: 0.1);
    padding-right: calc(1.5em + 0.75rem);

    background-image: svgs.make-sparkling-wand(to-rgb($primary));
    [data-high-contrast="true"][data-bs-theme="light"] & {
      background-image: svgs.make-sparkling-wand(to-rgb($primary-high-contrast));
    }
    
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

    & ~ .autocomplete-feedback {
      display: block;
    }
  }
}

.btn-primary {
  color: var(--bs-body-bg) !important;
}

.btn-check:checked + .btn-outline-primary {
  color: var(--bs-body-bg) !important;
}

.btn-sm-square {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $name, $color in $colors {
  .line-through-#{$name} {
    text-decoration-line: line-through;
    text-decoration-color: $color;
    text-decoration-thickness: 0.25em;
  }
  .text-#{$name} {
    color: $color;
  }
}

.nav-tabs .nav-link.active {
  color: var(--bs-primary);
}

.nav-tabs .nav-link {
  color: var(--bsnav-link-color);
}

.link-subtle {
  color: #cccccc;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;
  }
}

footer a {
  @extend .link-subtle;
}

.filter-info-circle {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-body-bg);
  border-radius: 50%;
}


@function get-circle-pos($id, $axis, $radius) {
  @if ($axis == x) {
    @return cos(45deg * $id) * $radius + .3125rem;
  }
  @else {
    @return sin(45deg * $id) * $radius + .3125rem;
  }
}

.homework-check-wrapper {
  width: 1rem;
  height: 1rem;
  position: relative;
  & input.homework-check {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  & div {
    visibility: visible;
    position: absolute;
    width: .375rem;
    height: .375rem;
    border-radius: 100%;
    background-color: var(--bs-primary);
    opacity: 0;
  }
  @for $id from 0 through 7 {
    & div[data-id="#{$id}"] {
      --id: #{$id};
      animation: checkAnimation-#{$id} 0.4s ease normal;

      @keyframes checkAnimation-#{$id} {
        0% {
          left: get-circle-pos($id, x, .5rem);
          top:  get-circle-pos($id, y, .5rem);
        }
        50% {
          opacity: 1;
        }
        100% {
          left: get-circle-pos($id, x, 1.25rem);
          top:  get-circle-pos($id, y, 1.25rem);
          opacity: 0;
        }
      }
    }
  }
}

.color-display {
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem -0.1rem 0.25rem;
  margin-bottom: -0.1rem;
  display: inline-block;
  border-radius: var(--bs-border-radius);
}

// Styles exclusively for iOS devices
@supports (-webkit-touch-callout: none) {
  b, strong, .fw-semibold, .fw-bold, *[style*="font-weight: 700"] {
    letter-spacing: calc(-1em / 16);
  }
}
