global:
  scrape_interval: 60s
  evaluation_interval: 60s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'alloy'
    static_configs:
      - targets: ['alloy:12345']
  
  - job_name: 'taskminder-app'
    static_configs:
      - targets: ['app:9100']