@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --event-blue: 85, 153, 255;
    --event-orange: 255, 153, 85;
}

body {
    font-family: "Quicksand", Arial, Helvetica, sans-serif;
    padding-top: 70px;
    font-weight: 500;

    --semivisible-hover: #e9ecef;
    --semivisible-active: #d3d6da;
    --tertiary-hover: #d3d4d5;
    --tertiary-active: #c6c7c8;
}

body[data-bs-theme="dark"] {
    --semivisible-hover: #353738;
    --semivisible-active: #434547;
    --tertiary-hover: #424649;
    --tertiary-active: #4d5154;
}

.w-fit-content {
    width: fit-content;
}

.btn-semivisible {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-semivisible:hover {
    background-color: var(--semivisible-hover);
}

.btn-semivisible:active {
    background-color: var(--semivisible-active) !important;
}

.btn-tertiary {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-tertiary:hover {
    background-color: var(--tertiary-hover);
}

.btn-tertiary:active {
    background-color: var(--tertiary-active) !important;
}