@use "../../../../node_modules/bootstrap/scss/bootstrap" as bs;

search-box, password-input, copy-input, datalist-input {
  position: relative;
  display: block;

  &.form-control-sm {
    padding: 0;

    input {
      min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
      padding: .25rem .5rem;
      font-size: 0.875rem;
      border-radius: var(--bs-border-radius-sm);

      @media (hover: none) and (pointer: coarse) {
        font-size: 1rem !important;
      }
    }

    .dropdown-item {
      font-size: .875rem;

      @media (hover: none) and (pointer: coarse) {
        font-size: 1rem !important;
      }
    }
  }
}

search-box {
  width: 7rem;
  transition: flex-grow 0.3s ease, width 0.3s ease;

  .rich-input-element {
    padding-left: 2rem !important;
  }

  &.search-box-not-empty {
    .rich-input-element {
      padding-right: 2rem !important;
    }
  }

  &:not(.search-box-not-empty) {
    .search-box-clear {
      display: none;
    }
  }

  &:focus-within, &.search-box-not-empty {
    flex-grow: 1;
  }
}

password-input {
  .rich-input-element {
    padding-right: 2rem !important;
  }
}

copy-input {
  .rich-input-element {
    padding-right: 2rem !important;
  }
}

datalist-input {
  .dropdown-menu {
    width: 100%;
    min-width: 0;

    .dropdown-item {
      text-wrap: wrap;
    }
  }
}

file-input {
  display: block;

  .file-input-label:hover, .file-input-label-focus, .file-input-label:focus-within {
    @extend :focus;
  }

  .file-input-preview {
    overflow-y: scroll;
    max-height: 15rem;
  }

  .file-input-preview-title i {
    transition: transform 0.2s ease;
  }

  .file-input-preview-title[aria-expanded="true"] i {
    transform: rotate(90deg);
  }
}
