#homework-feedback-outer-circle {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border: 0.2rem solid rgba(var(--bs-primary-rgb), 0.5);
  border-radius: 50%;
  position: relative;
}

#homework-feedback-inner-circle {
  position: absolute;
  top: -0.1rem;
  left: -0.1rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.4rem solid var(--bs-primary);
  border-radius: 50%;
  margin: -0.2rem;
}

#random-homework-wheel-pointer {
  fill: var(--bs-primary);
  stroke: var(--bs-primary);
  stroke-linejoin: round;
  stroke-width: 10;
  top: -1rem
}

#random-homework-wheel-rotate > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.random-homework-wheel-option {
  background: hsl(var(--hue), 80%, 60%);
  position: absolute;
  z-index: -1;
}

#random-homework-wheel span {
  max-width: 25%;
  transform-origin: left top;
  color: #212529;
  font-size: clamp(0.75rem, 2vw, 1rem);
  text-align: center;
}
