#animations {
  min-height: min-content;
}

.section-toggle {
  span:hover {
    text-decoration: underline;
  }

  button {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
      transition: transform 0.2s ease;
    }
    &.rotate-90 i {
      transform: rotate(90deg);
    }
  }
}

#team-selection-save,
#teams-save,
#class-members-save,
#event-types-save,
#subjects-save,
#timetable-save {
  width: 6rem;
}

.subject-teacher-gender-input {
  min-width: 6rem;
}
