#filter-type-list {
  max-height: 8rem !important;
}

.upload-icon-stack {
  line-height: 1 !important;
  height: 1em !important;

  .fa-info, .fa-question {
    font-size: 0.4em;
    top: 1.1em;
    -webkit-text-stroke: 0.05em;
  }
}

#view-upload-loading {
  position: relative;
  height: 12rem;

  * {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    font-size: 8rem;
    --bs-spinner-width: 4rem;
    --bs-spinner-height: 4rem;
    --bs-spinner-border-width: 0.5rem;
  }

  .spinner-border {
    translate: -50% -20%;
  }
}

#search-uploads {
  &:focus-within, &.search-box-not-empty {
    width: 0 !important;
  }
}
