.badge-tertiary {
  background-color: var(--btn-tertiary-normal);
  color: var(--btn-color) !important;
}

.upload-icon-stack {
  line-height: 1 !important;
  height: 1em !important;

  .fa-info, .fa-question {
    font-size: 0.4em;
    top: 1.15em;
    -webkit-text-stroke: 0.05em;
  }
}

#view-upload-object {
  width: 100%;

  &:not(.ios)[type="application/pdf"] {
    min-height: calc(1.4 * (min(500px, 100vw - 1rem) - 7rem)) !important;
  }

  &[type="text/plain"] {
    min-height: calc((min(500px, 100vw - 1rem) - 7rem)) !important;
  }
}

#search-uploads {
  &:focus-within, &.search-box-not-empty {
    width: 0 !important;
  }
}
