# Technical docs information
docs_dir: src
site_dir: dist
# Project information
site_name: TaskMinder Docs
site_url: https://docs.taskminder.de
site_author: Mingqi Li, Fabian Leonardi
site_description: >-
  Technical Documentation for TaskMinder.
# Repository
repo_name: TaskMinder
repo_url: https://github.com/Codylon-Studios/TaskMinder

# Copyright
copyright: Copyright &copy; 2025-2026 Mingqi Li, Fabian Leonardi

theme:
  features:
    - navigation.tabs
    - content.code.copy
    - content.tabs.link
  name: material
  font:
    text: Quicksand
    code: Red Hat Mono
  favicon: assets/favicon.ico
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: dark mode
      primary: :)
      accent: :)
    - scheme: default
      toggle:
        icon: material/weather-night
        name: light mode
      primary: :)
      accent: :)
nav:
  - Home: index.md
  - About:
      - License: license.md
      - Release Notes: release-notes.md
      - Data & Privacy: data-processing.md
  - Development: development.md
  - Deployment (v2): deploy-v2.md
  - Migrations: migrations.md

extra_css:
  - assets/custom.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
