@use "sass:color";
@use "global" as *;

#animations {
  min-height: min-content;
}

#team-selection-save, #teams-save, #event-types-save {
  width: 6rem;
}

.event-type-color-input + .color-picker-trigger {
  @extend .me-3;
}

.event-type-recolored-color-display {
  @extend .rounded, .mx-1;
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.1rem;
  display: inline-block;
}