.bottombar {
  border: 0 solid rgba(0, 0, 0, 0.25);
  border-top-width: 0.5px;
}

.bottombar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 0;
  color: var(--bs-body-color);
  text-decoration: none;

  &.bottombar-link-deactivated {
    opacity: 0.5;
  }

  &.bottombar-current-link {
    color: var(--bs-primary) !important;
  }

  & i {
    font-size: 1.2rem;
    margin: 0.8rem 0.8rem 0 0.8rem;
  }

  & span {
    font-size: max(0.5rem, 1.5vw);
    margin-bottom: 0.3rem;
  }
}
