.bottombar {
  border: 0 solid rgba(0, 0, 0, 0.25);
  border-top-width: 0.5px;
}

.bottombar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 0;
  cursor: pointer;
  &.bottombar-link-deactivated {
    cursor: auto;
    opacity: 0.5;
  }

  &.bottombar-current-link {
    color: #3bb9ca !important;
  }

  & i {
    font-size: 1.2rem;
    margin: 0.8rem;
  }
}
