body {
  &[data-bs-theme="light"] {
    --pwa-banner-bg-color: #f2f1f6;
    --pwa-banner-border-color: 190, 189, 194;
  }
  &[data-bs-theme="dark"] {
    --pwa-banner-bg-color: #1c1c1e;
    --pwa-banner-border-color: 69, 69, 72;
  }
}

.pwa-banner {
  font-size: 16px;
  height: 80px;
  background-color: var(--pwa-banner-bg-color);
  border-bottom: 1px solid rgb(var(--pwa-banner-border-color));
  padding: 0 16px;

  & .pwa-banner-close {
    margin-right: 8px;
    border: none;
    background: transparent;
    padding: 0;
  }

  & .pwa-banner-close svg {
    color: rgb(var(--pwa-banner-border-color));
    width: 10px;
    height: 10px;
    display: block;
  }

  & .pwa-banner-img {
    width: 60px;
    height: 60px;
    border-radius: 22.5%;
    background-image: url("/assets/app-icon.png");
    background-size: cover;
    margin-right: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 22.5%;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
  }

  & div {
    font-size: 0.75em;

    & span {
      display: inline-flex;
      align-items: center;
    }

    & img {
      color: #2075e0;
      width: 2em;
      height: 2em;
    }

    & svg {
      color: #2075e0;
      width: 2em;
      height: 2em;
    }
  }
}
